@font-face {
  font-family: "Pokemon";
  src: url("./pokemon\ solid.ttf") format("truetype");
}

.pokeball1 {
  width: 100px;
  position: absolute;
  animation: poke1 4s linear infinite alternate;
}

.pokeball2 {
  width: 100px;
  position: absolute;
  top: 8px;
  right: 16px;
  animation: poke2 5s linear infinite alternate;
}

.pokeball3 {
  width: 100px;
  position: absolute;
  animation: poke3 6s linear infinite alternate;
}
.pokeball4 {
  width: 100px;
  position: absolute;
  animation: poke4 7s linear infinite alternate;
}
.pokeball5 {
  width: 100px;
  position: absolute;
  animation: poke1 4s linear infinite alternate;
}

.pokeball6 {
  width: 100px;
  position: absolute;
  top: 8px;
  right: 16px;
  animation: poke2 5s linear infinite alternate;
}

.pokeball7 {
  width: 100px;
  position: absolute;
  animation: poke3 6s linear infinite alternate;
}

.pokeball8 {
  width: 100px;
  position: absolute;
  animation: poke4 7s linear infinite alternate;
}

@keyframes poke1 {
  0% {
    top: 0vh;
    left: 0px;
    transform: rotate(0deg);
  }
  25% {
    top: 90vh;
    left: 300px;
    transform: rotate(360deg);
  }
  50% {
    top: 0vh;
    left: 600px;
    transform: rotate(0deg);
  }
  75% {
    top: 90vh;
    left: 900px;
    transform: rotate(360deg);
  }
  100% {
    top: 0vh;
    left: 1800px;
    transform: rotate(0deg);
  }
}
@keyframes poke2 {
  0% {
    top: 0vh;
    right: 0px;
    transform: rotate(0deg);
  }
  25% {
    top: 90vh;
    left: 300px;
    transform: rotate(360deg);
  }
  50% {
    top: 0vh;
    right: 600px;
    transform: rotate(0deg);
  }
  75% {
    top: 90vh;
    right: 900px;
    transform: rotate(360deg);
  }
  100% {
    top: 0vh;
    right: 1800px;
    transform: rotate(0deg);
  }
}
@keyframes poke3 {
  0% {
    top: 0vh;
    left: 50px;
    transform: rotate(0deg);
  }
  25% {
    top: 90vh;
    left: 300px;
    transform: rotate(360deg);
  }
  50% {
    top: 0vh;
    left: 600px;
    transform: rotate(0deg);
  }
  75% {
    top: 90vh;
    left: 900px;
    transform: rotate(360deg);
  }
  100% {
    top: 0vh;
    left: 1800px;
    transform: rotate(0deg);
  }
}

@keyframes poke4 {
  0% {
    top: 0vh;
    right: 50px;
    transform: rotate(0deg);
  }
  25% {
    top: 90vh;
    right: 300px;
    transform: rotate(360deg);
  }
  50% {
    top: 0vh;
    right: 600px;
    transform: rotate(0deg);
  }
  75% {
    top: 90vh;
    right: 900px;
    transform: rotate(360deg);
  }
  100% {
    top: 0vh;
    right: 1800px;
    transform: rotate(0deg);
  }
}

body {
  /* background-image: url("https://www.toysrus.ca/on/demandware.static/-/Library-Sites-toys-global/default/dw2e724f52/images/pages/brand-pages/Pokemon-Desktop-Banner-1120x280-D.jpg"); */
  background-image: url("./Ressources/pokemonBackgroundCropped.jpg");
  background-color: #80af72;
  background-repeat: no-repeat;
  background-size: 100%;
}

h1 {
  font-family: "Pokemon", Fallback, sans-serif;
  letter-spacing: 0.07em;
  color: #fccf00;
  font-size: 4em;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #2468b1;
}

.coveo-card-layout.CoveoResult {
  border-style: none;
}

.coveo-card-layout.CoveoResult .coveo-result-frame {
  padding: 5px;
  border-style: solid;
  border-radius: 10px;
  border-color: #2468b1;
  
  border-width: 2px;
  background-color: white;
}

.coveo-facet-column {
  max-width: 250px;
}

.facet, .coveo-search-section .CoveoSearchButton {
  background-color: #2468b1;
}

.coveo-slider-button, .coveo-range-button, .CoveoFacetSlider.coveo-disabled .coveo-slider-button, .coveo-facet-search-results {
  background-color: #1d538e;
}

.facet .coveo-facet-header, .coveo-facet-more, .coveo-facet-less, .coveo-more-background-svg {
  background-color: #1d538e;
}

.coveo-slider-container.coveo-with-graph svg .coveo-bar.coveo-active {
  fill: white;
}

.coveo-facet-value.coveo-with-hover:hover, .coveo-facet-value.coveo-with-hover.coveo-focuse {
  background-color: #1d538e;
}

.coveo-search-button-svg, .coveo-facet-value-caption, .coveo-facet-header-title, .coveo-facet-more-icon-svg, .coveo-facet-settings-more-svg, .coveo-or-and-svg, .coveo-facet-value-count, .coveo-facet-more-icon-svg, .coveo-facet-less-icon-svg, .coveo-more-background-svg, .coveo-slider-caption, .coveo-slider-line, .CoveoQuerySummary, .CoveoSort, .coveo-sort-icon-descending-svg, .coveo-sort-icon-ascending-svg, .coveo-facet-header-eraser-svg, .coveo-accessible-button, .coveo-facet-breadcrumb-value.coveo-selected *, .coveo-facet-slider-breadcrumb-value.coveo-selected *, .coveo-facet-breadcrumb-value-list-item.coveo-selected *, .coveo-facet-breadcrumb-clear, .coveo-facet-breadcrumb-title, .coveo-facet-slider-breadcrumb-value.coveo-selected *, .coveo-facet-slider-slider-breadcrumb-value.coveo-selected *, .coveo-facet-slider-breadcrumb-value-list-item.coveo-selected *, .coveo-facet-slider-breadcrumb-clear, .coveo-facet-slider-breadcrumb-title, .coveo-facet-breadcrumb-value, .coveo-facet-slider-breadcrumb-value, .coveo-facet-breadcrumb-value-list-item {
  color: white;
}

.title {
  text-align: center;
}

.pokemon-image-container {
  text-align: center;
  padding: auto;
  display: flex;
}

.pokemon-image {
  display: inline-block;
}

.pokemon-image img {
  max-width: 100%;
  max-height: 200px;
  display: block;
  width: auto;
  height: auto;
}